In [18]:
import pickle
with open('ROMS_26yr_COWed_eddies.pkl', 'rb') as file:
    eddies = pickle.load(file)

In [30]:
from datetime import datetime, timedelta
import numpy as np
import pandas as pd

def add_days_to_date(days_to_adds):
    new_dates = []
    for day_to_add in days_to_adds:
        day_to_add = day_to_add + 1462
        input_date = '1990-01-01 00:00:00' # Beginning date of file 1462
        if not isinstance(input_date, datetime):
            input_date = datetime.strptime(input_date, '%Y-%m-%d %H:%M:%S')
        if isinstance(day_to_add, np.ndarray):
            day_to_add = day_to_add.item()
        new_date = input_date + timedelta(days=day_to_add)
        new_dates.append(new_date)
    return new_dates
    
def extract_numbers_from_list(strings):
    numbers = [int(''.join(filter(str.isdigit, s))) for s in strings if ''.join(filter(str.isdigit, s))]
    return numbers

### Prepare Dataset

In [72]:
for eddy in eddies:
    eddies[eddy]['Date'] = add_days_to_date(extract_numbers_from_list(eddies[eddy].index.tolist()))
clim_dataset = pd.DataFrame()
for eddy in eddies.values():
    if not eddy.empty:
        clim_dataset = pd.concat([clim_dataset, eddy], ignore_index=True)
clim_dataset = clim_dataset[clim_dataset['Tilt Distance'] < 150000]

In [73]:
clim_dataset

,Lon,Lat,Vort,ID,Age,Tilt Bearing,Tilt Distance,Date
0,158.618129,-35.131968,-0.000032,1,13,339.113138,11473.078055,1994-01-03
1,153.203506,-39.514949,-0.000008,2,18,86.820975,7375.861001,1994-01-03
2,153.082730,-39.563075,-0.000014,2,18,284.963141,1799.220737,1994-01-07
3,153.120298,-39.397832,-0.000003,2,18,158.777972,12922.677725,1994-01-18
4,151.579918,-38.160585,0.000034,3,39,206.122255,13262.693830,1994-01-07
...,...,...,...,...,...,...,...,...
64202,155.403963,-34.428320,-0.000012,14743,13,222.152868,19035.120768,2019-02-19
64203,155.419475,-34.385971,-0.000012,14743,13,228.724082,14458.274225,2019-02-20
64204,153.493266,-36.002150,0.000037,14744,12,318.817320,2816.112809,2019-02-12
64205,153.623730,-35.828446,0.000039,14744,12,252.770411,4962.720418,2019-02-16
64206,153.640179,-35.456046,0.000031,14744,12,13.256964,13951.517125,2019-02-20